{% extends 'BatnaUserBundle::layout.html.twig' %}

{% block maintitle %}{{ 'dashboard.dashboard'|trans({}, 'BatnaUserBundle') }}{% endblock %}

{% block corps %}
<!-- Begin of #main-content -->
<div id="main-content">
	<div class="container_12">
		<div class="grid_12">
			<h1>{{ 'dashboard.dashboard'|trans({}, 'BatnaUserBundle') }}</h1>
		</div>
		<!-- <div class="grid_12">
			<div class="block-border">
				<div class="block-content">
					<ul class="shortcut-list">
						<li>
							<a href="javascript:void(0);">
								<img src="{{ asset('img/icons/packs/crystal/48x48/apps/kedit.png') }}'">
								Write an Article
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>-->
		<div class="grid_6">
			<div class="block-border">
				<div class="block-content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis turpis est. Etiam convallis porttitor justo ut interdum. Maecenas eleifend sapien at dui cursus elementum. Sed bibendum volutpat lorem, tristique eleifend lectus euismod semper. Duis a metus sem, ac mollis orci. Vivamus odio nunc, scelerisque in sodales sed, aliquet eget enim. Vivamus sodales purus nibh, gravida sagittis libero. Integer sodales risus sed lacus tempus pharetra. Sed sit amet ligula eros, non vestibulum mi.
					</p>
				</div>
			</div>
		</div>
		<div class="grid_6">
			<div class="block-border">
				<div class="block-content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus vehicula libero vitae consequat. Nulla in purus velit, luctus pretium massa. In auctor imperdiet egestas. Aenean mauris odio, laoreet ut eleifend nec, placerat vel enim. Nullam vitae justo orci, porttitor volutpat lacus. Vestibulum at quam eu dolor adipiscing bibendum quis sit amet eros. Donec vel mauris magna, sed malesuada mauris.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="container_12">
		<div class="grid_3">
			<div class="block-border">
				<div class="block-content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus vehicula libero vitae consequat. Nulla in purus velit, luctus pretium massa. In auctor imperdiet egestas. Aenean mauris odio, laoreet ut eleifend nec, placerat vel enim. Nullam vitae justo orci, porttitor volutpat lacus. Vestibulum at quam eu dolor adipiscing bibendum quis sit amet eros. Donec vel mauris magna, sed malesuada mauris.
					</p>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="block-border">
				<div class="block-content">
					<p>					
						Proin mollis egestas dolor fermentum suscipit. Maecenas viverra tortor nec magna fermentum vel pretium turpis rutrum. In eleifend magna non neque pellentesque faucibus. Proin sit amet magna erat. Ut et erat nunc. Donec cursus libero nec ipsum ornare id ultrices nulla tincidunt. Pellentesque ut orci et tortor condimentum molestie. Nullam sit amet dui eget leo suscipit
					</p>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="block-border">
				<div class="block-content">
					<p>
						in suscipit diam metus non lectus. Curabitur at tortor dolor, a ornare urna. Nam sed fermentum felis. Maecenas at elit in diam ullamcorper facilisis consectetur vitae risus. Mauris rhoncus volutpat quam eget sollicitudin. Praesent pretium ullamcorper magna. Vestibulum ant
					</p>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="block-border">
				<div class="block-content">
					<p>
						imis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus eu tortor vehicula mauris elementum gravida. Morbi nec bibendum orci. Aenean faucibus sapien eget elit aliquet sagittis. Nunc suscipit sapien a nunc hendrerit semper ut in dolor. Cras ut bibendum mi.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="container_12">
		<div class="grid_4">
			<div class="block-border">
				<div class="block-content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus vehicula libero vitae consequat. Nulla in purus velit, luctus pretium massa. In auctor imperdiet egestas. Aenean mauris odio, laoreet ut eleifend nec, placerat vel enim. Nullam vitae justo orci, porttitor volutpat lacus. Vestibulum at quam eu dolor adipiscing bibendum quis sit amet eros. Donec vel mauris magna, sed malesuada mauris.
					</p>
				</div>
			</div>
		</div>
		<div class="grid_5">
			<div class="block-border">
				<div class="block-content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis turpis est. Etiam convallis porttitor justo ut interdum. Maecenas eleifend sapien at dui cursus elementum. Sed bibendum volutpat lorem, tristique eleifend lectus euismod semper. Duis a metus sem, ac mollis orci. Vivamus odio nunc, scelerisque in sodales sed, aliquet eget enim. Vivamus sodales purus nibh, gravida sagittis libero. Integer sodales risus sed lacus tempus pharetra. Sed sit amet ligula eros, non vestibulum mi.
					</p>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="block-border">
				<div class="block-content">
					<p>
						vestibulum et at neque. Maecenas vulputate dolor ac metus mollis non consectetur libero ullamcorper. Donec nibh dui, consequat ut euismod id, convallis tristique arcu. Donec in sapien quam. In congue eleifend porttitor. Cras pulvinar aliquet sem a rutrum.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clear height-fix"></div>
</div> <!--! end of #main-content -->
		
{% endblock %}