{% extends 'BatnaUserBundle::layout.html.twig' %}

{% block maintitle %}{{ 'dashboard.dashboard'|trans({}, 'BatnaUserBundle') }}{% endblock %}

{% block corps %}


<div class="container_12">
	<div class="grid_4">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'app.administration'|trans({}, 'BatnaUserBundle') }}</h1><span></span>
			</div>
			<div class="block-content">
				<ul class="overview-list">
					<li><a href="javascript:void(0);"><span>0</span> Utilisateurs déclarés</a></li>
					<li><a href="javascript:void(0);"><span>0</span> Groupes déclarés</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="grid_4">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'dashboard.alertes'|trans({}, 'BatnaUserBundle') }}</h1><span></span>
			</div>
			<div class="block-content">
				<ul class="overview-list">
					<li><a href="javascript:void(0);"><span>0</span> Catégories déclarées</a></li>
					<li><a href="javascript:void(0);"><span>0</span> Seuils déclarés</a></li>
					<li><a href="javascript:void(0);"><span>0</span> Alertes émises</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="grid_4">
		<div class="block-border">
			<div class="block-header">
				<h1>{{ 'dashboard.referentiel'|trans({}, 'BatnaUserBundle') }}</h1><span></span>
			</div>
			<div class="block-content">
				<ul class="overview-list">
					<li><a href="javascript:void(0);"><span>0</span> Contextes déclarées</a></li>
					<li><a href="javascript:void(0);"><span>0</span> Environnements créés</a></li>
					<li><a href="javascript:void(0);"><span>0</span> Machines répertoriées</a></li>
					<li><a href="javascript:void(0);"><span>0</span> Gateways déclarées</a></li>
					<li><a href="javascript:void(0);"><span>0</span> Enterprises enregistrés</a></li>
					<li><a href="javascript:void(0);"><span>0</span> Servers enregistrés</a></li>
					<li><a href="javascript:void(0);"><span>0</span> Composants enregistrés</a></li>
					<li><a href="javascript:void(0);"><span>0</span> Groupes de composants enregistrés</a></li>
					<li><a href="javascript:void(0);"><span>0</span> Sous systèmes enregistrés</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
		
{% endblock %}