{% extends 'BatnaSiebelBundle::layout.html.twig' %}

{%  block maintitle %}{{ 'siebns.siebnsManagement'|trans([], 'BatnaSiebelBundle') }}{% endblock %}

{% block corps %}

<div class="container_12">
	<div class="grid_12">
		<div class="block-border">
			<div class="block-header">
				<h1>SIEBNS.. quelle class !</h1><span></span>
			</div>
			<div class="block-content">
				<pre>{{ contenu }}</pre>
			</div>
		</div>
	</div>
</div>

{% endblock %}